@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


body, html {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto';
}

p, a, h1, ul, li, h2, h3 {
  margin: 0;
  padding: 0;
}

:root {
  --font-1: "Roboto", sans-serif;
  --font-2: "Manrope", sans-serif;
  --footer-background: #000;
  --footer-text-color: #fff;
  --button-background: #007bff; /* Světle modrá barva */
  --button-text-color: #fff;
}

.footer {
  background-color: var(--footer-background);
  color: var(--footer-text-color);
  padding: 40px;
  text-align: center;
  font-family: var(--font-1);
}

.footer-container h2 {
  font-family: var(--font-2);
  margin-bottom: 10px;
}

.footer-container p {
  margin-bottom: 20px;
}

.email-button {
  background-color: var(--button-background);
  color: var(--button-text-color);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.footer-credits {
  margin-top: 20px;
  font-size: 14px;
}

.footer-credits a {
  color: var(--footer-text-color);
  text-decoration: none;
}


nav {
  position: fixed;

  width: 100%;
  height: 70px;

  left: 0;
  top: 0;

  background-color: transparent;

  color: white;

  display: grid;

  grid-template-columns: 300px auto 300px;

  z-index: 100;

  transition: all .3s;
}

nav.scrolled {
  background-color: rgba(0, 0, 0, 0.904) !important;
  box-shadow: rgba(149, 157, 165, 0.025) 0px 8px 24px;
}

nav .logo {
  width: 200px;

  cursor: pointer;
}

nav .center {
  margin: auto !important;
}

nav ul li {
  display: inline-block;

  margin: 0 20px 0 20px;

  font-size: 17px;

  cursor: pointer;

  transition: all .2s;
}

nav ul { padding-right: 10px; }

nav ul li:not(nav ul .active):hover {
  font-weight: bold;
  color: #6495ED;
}

nav ul .active {
  font-weight: bold;
}

header {
  width: 100%;
  height: 100vh;

  position: relative;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header .overlay {
  width: 100%;
  height: 100%;

  background-color: black;

  position: absolute;

  top: 0;
  left: 0;
}

header .wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: center;

  justify-content: center;
  align-items: center;

  color: white;
}

header .wrapper h1 {
  z-index: 10;

  font-weight: 600;

  font-size: 60px;

  width: 900px;

  text-align: center;

  font-family: 'Manrope';
}

header .scroll {
  position: absolute;

  bottom: 80px;

  width: 100%;
  text-align: center;

  color: rgba(255, 255, 255, 0.5);
}

section {
  position: relative;

  width: 100%;
  min-height: 100vh;

  padding: 200px 350px 200px 350px;
}

section * {
  font-family: 'Manrope';
}

section h2 {
  font-size: 2rem;
  font-weight: 600;
}

section .subtitle {
  color: #4e87f0;
  font-size: 17px;
  font-family: 'Roboto';
  margin-top: 2px;
}

.services {
  background-color: rgba(0, 0, 0, 0.979);

  position: relative;
  z-index: 30;

  color: white;
}

.services .grid {
  width: 100%;
  max-height: 300px;

  margin-top: 100px;

  display: grid;

  grid-template-columns: auto auto auto;
  grid-column-gap: 50px;

  overflow: hidden;
}

.services .headline {
  font-weight: 600;
  font-size: 20px;
}

.services .headline span {
  color: #6495ed;
  margin-right: 10px;
}

.services .content {
  margin-top: 20px;
}

.services .content, .services .additional-info {
  font-family: 'Roboto';

  font-size: 18px;

  color: rgba(255,255,255, .4);

  word-wrap: break-word;
  line-height: 2rem;
}

.services .additional-info {
  position: absolute;

  bottom: 100px;
  left: 0;

  width: 100%;
  text-align: center;
}

.portfolio {
  background-color: #eff0f0;
}

.portfolio .projects {
  width: 100%;
  height: 100%;

  margin-top: 50px;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.projects-wrapper {
  width: 102.5%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);

  place-items: center;
}

.placeholder-card {
  width: 360px;
  height: 280px;

  position: relative;

  border-radius: 8px;

  background-color: rgb(194, 194, 194);

  box-shadow: rgba(149, 157, 165, 0.116) 0px 8px 24px;
  
  z-index: 30;
}

.skeleton-anim-light {
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, rgb(199, 199, 199) 8%, #cfcfcf 38%, rgb(199, 199, 199) 54%);
  background-size: 1000px 640px;
}

.skeleton-anim-dark {
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, rgb(170, 170, 170) 8%, #c0c0c0 38%, rgb(170, 170, 170) 54%);
  background-size: 1000px 640px;
}

.placeholder-card-text {
  width: 360px;
  height: 100px;

  z-index: 20;

  position: relative;
  top: -10px;

  background-color: white;

  box-shadow: rgba(149, 157, 165, 0.116) 0px 8px 24px;

  padding-top: 10px;

  margin-bottom: 25px;
}

.placeholder-card-text div {
  background-color: rgb(182, 182, 182);
}

.placeholder-card-text .headline {
  width: 150px; 
  height: 22px;

  margin: 20px 0 0 20px;
}

.placeholder-card-text .paragraph {
  width: 300px; 
  height: 16px;

  margin: 10px 0 0 20px;
}
.placeholder-card-image {
  width: 100%;
  height: 150px; /* nebo požadovaná výška obrázku */
  background-color: #ddd; /* Barva skeleton efektu */
  border-radius: 8px; /* Pokud chceš zaoblené rohy */
  margin-bottom: 10px; /* Mezera pod obrázkem */
}

.instagram-button {
  background-color: black;
  color: white; /* Bílý text */
  border: none;
  border-radius: 15px; /* Zaoblené rohy */
  padding: 15px 20px; /* Prostor kolem textu */
  font-size: 16px; /* Velikost písma */
  font-weight: bold; /* Tučný text */
  cursor: pointer; /* Ukazatel myši */
  transition: background-color 0.3s ease; /* Plynulý přechod na hover */
  margin: 20px auto; /* Střed tlačítka */
  display: block; /* Centrum na stránce */
  text-decoration: none;
}

.instagram-button:hover {
  background-color: #6495ed;
}

a:link,
a:visited {
  text-decoration: none; /* Odstranění podtržení z odkazů */
}


.card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  margin: 2rem;
  flex-direction: column;
}

.card-image {
  width: 100%;
  height: 150px; /* Stejná výška jako skeleton */
  object-fit: cover;
}

.card-content {
  padding: 16px;
}

.card-content h3 {
  margin: 0 0 8px;
  font-size: 1.25rem;
}

.card-content p {
  margin: 0;
  color: #666;
}


.placeholder-image {
  width: 100%;
  height: 150px; /* Nastav vhodnou výšku podle tvého designu */
  background-color: #ddd;
  border-radius: 8px; /* Zaoblené rohy */
  margin-bottom: 10px; /* Mezera pod obrázkem */
}


.placeholder-button {
  width: 200px;
  height: 60px;

  border-radius: 8px;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  margin-top: 25px;
}

.contact {
  background-color: rgba(0, 0, 0, 0.979);
}

#to-top {
  position: fixed;

  right: 50px;
  bottom: 50px;

  width: 65px;
  height: 65px;

  display: none;

  border-radius: 50%;

  box-shadow: rgba(68, 68, 68, 0.2) 0px 0px 24px;

  background-color: rgba(0, 0, 0, 0.979);

  z-index: 20;

  color: white;
}

#to-top.appear {
  display: flex;

  justify-content: center;
  align-items: center;
}

#to-top svg {
  display: block;

  width: 25px;
  height: 25px;
}

@keyframes placeHolderShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}